@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900|Roboto:400,500,700,900&display=swap');
$font-family-Ro: 'Roboto', sans-serif;
$font-family-multi: 'Muli', sans-serif;
$color-white:rgb(255, 255, 255);
$color-blue:#11749e;
$color-gray: rgb(128,128,128);
$color-color:#282828;
$color-white-transparent:rgba(255, 255, 255, 0.2);
